<!DOCTYPE html>
<html>
<head>
  <title>VueRailsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdn.jsdelivr.net/npm/vue@1.0.16/dist/vue.js"></script>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>



</body>
</html>
